<!DOCTYPE html>
<html lang="en">
	
<!-- Mirrored from technext.github.io/electro/?fbclid=IwAR04AVhzDNlzbB3QOQAXwj9ID6XQe3NOsUHaIN5x4NhgS1s9eGR2IKXwPmo by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jun 2022 14:47:58 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
       <%- include('partials/head') %> 
	<body>
		<!-- HEADER -->
		<%- include('partials/header') %> 
	
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<%- include('partials/navbar') %> 
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-3 col-xs-2">
						<div class="shop">
							<div class="shop-img">
								<img  src="http://localhost:1002/upload/<%= cliente.imgCliente %>" alt="">
							</div>
							
						</div>
					</div>
				
					
				
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Compras Recentes</h3>
							
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<table class="table">
									<thead>
									  <tr>
										<th scope="col">#</th>
										<th scope="col">Produto</th>
										<th scope="col">Categoria</th>
										<th scope="col">Data</th>
										<th scope="col">Preço</th>
										<th scope="col">Quantidade</th>
										<th scope="col">Acção</th>
									  </tr>
									</thead>
									<tbody>
										
									  <tr>
										   
										   <td> </td>
										   <td> </td>
										   <td> </td>
										   <td> </td>
										   <td> </td>
										   <td> </td>
										   <td> </td>
										  
										  
								   
										   
									  </tr>
									 
									</tbody>
								  </table>
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
	

		<!-- NEWSLETTER -->
		<%- include('partials/footer') %> 
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
	
	</body>

<!-- Mirrored from technext.github.io/electro/?fbclid=IwAR04AVhzDNlzbB3QOQAXwj9ID6XQe3NOsUHaIN5x4NhgS1s9eGR2IKXwPmo by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jun 2022 14:48:04 GMT -->
</html>
