<!DOCTYPE html>
<html lang="en">
	
<!-- Mirrored from technext.github.io/electro/?fbclid=IwAR04AVhzDNlzbB3QOQAXwj9ID6XQe3NOsUHaIN5x4NhgS1s9eGR2IKXwPmo by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jun 2022 14:47:58 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
       <%- include('partials/head') %> 
	<body>
		<!-- HEADER -->
		<%- include('partials/header') %> 
	
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<%- include('partials/navbar') %> 
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-3 col-xs-2">
						<div >
							<div class="shop-img">
								<img width="200"  src="http://localhost:1002/upload/<%= cliente.imgCliente %>" alt="">
							</div>
							
						</div>
					</div>
					<div class="col-md-3 col-xs-2">
						<h5>Nome: <%= cliente.nomeCliente %> </h5>
						<h5>Username: <%= cliente.userCliente %> </h5>
						<h5>Telefone: <%= cliente.tellCliente %> </h5>
						<h5>Endereço: <%= cliente.enderecoCliente %> </h5>
						<h5>Compras Efectuadas: <%= compra.length %> </h5>
						
					</div>
				
					
				
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Compras Recentes</h3>
							
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<table class="table">
									<thead>
									  <tr>
										<th scope="col">#</th>
										<th scope="col">Identificador</th>
										<th scope="col">Produto</th>
										<th scope="col">Categoria</th>
										<th scope="col">Data</th>
										<th scope="col">Preço</th>
										<th scope="col">Quantidade</th>
										<th scope="col">Debito</th>
										<th scope="col">estado</th>
										<th scope="col">Acção</th>
									  </tr>
									</thead>
									<tbody>
										
									    <% compra.reverse().map(c=>{%> 
                                <tr>
                                    <td>
                                      <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label"></label>
                                      </div>
                                    </td>
                                    <td>Compra nº<%=c.idCompra %> </td>
                                    <td><%=c.nomeProduto %> </td>
                                    <td>
										<% categoria.map(cc=>{ %>
											<% if(cc.idCategoria==c.idCategoria){%> 
												<%=cc.nomeCategoria %> 
											<%} %> 
										<%})%> 
										
									</td>
									<td><%=c.datacompra %> </td>
										<td><%=c.precoProduto %>Kz </td>
                                    <td><%=c.quantidadeCompra %> Unidades </td>
                                    <td><%=c.debitoCompra %> Kz </td> 
                                    
                               
                                    
                                    <td>
                                     <% if(c.estadocompra==1){%>
                                        Efectuada
                                    <%}else{%>
                                        Não Vefirificada
                                    <% } %> 
                                    </td>
                                    
                                    <td>
										<button class="btn btn-primary">Detalhes</button>
                                    </td>
                                  </tr>

                            <%  }) %> 
									 
									</tbody>
								  </table>
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
	

		<!-- NEWSLETTER -->
		<%- include('partials/footer') %> 
		<!-- /NEWSLETTER -->
		<script src="/sweetalert/sweetalert2.all.min.js"></script>
<% if(errado.length>0) {%>
    <script>
		 localStorage.clear();
      var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })
      Toast.fire({
        icon: 'error',
        title: '<%=errado %>'
      })
    </script>
  
    <% }else if(certo.length>0) {%>
      <script>
		  localStorage.clear();
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })
  
        Toast.fire({
          icon: 'success',
          title: '<%=certo %>'
        })
  
      </script>
      <% }%>

      <script>
        function confirmar(id){
          
      Swal.fire({
        title: 'Deseja Eliminar Produto?',
      icon:'warning',
        showCancelButton: true,
        confirmButtonColor:'#3085d6',
        cancelButtonColor:'#d33',
        confirmButtonText: 'Confirmar',
      
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below   */
        if (result.isConfirmed) {
      
         window.location = '/removerMedicamento/'+id;
        } else if (result.isDenied) {
          Swal.fire('Erro ao eliminar', '', 'info')
        }
      })
        }
        </script>

		<!-- FOOTER -->
	
	</body>

<!-- Mirrored from technext.github.io/electro/?fbclid=IwAR04AVhzDNlzbB3QOQAXwj9ID6XQe3NOsUHaIN5x4NhgS1s9eGR2IKXwPmo by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jun 2022 14:48:04 GMT -->
</html>
