<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from technext.github.io/ashion/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jun 2022 14:53:01 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FarmaZon</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

   

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/card/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/card/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/card/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/card/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/card/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/card/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/card/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/card/css/style.css" type="text/css">

     <!-- Bootstrap -->
     <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
  
     <!-- Slick -->
     <link type="text/css" rel="stylesheet" href="/css/slick.css"/>
     <link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>
   
     <!-- nouislider -->
     <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>
   
     <!-- Font Awesome Icon -->
     <link rel="stylesheet" href="/css/font-awesome.min.css">
   
     <!-- Custom stlylesheet -->
     <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    <header>


        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a  class="navbar-brand mx-auto mt-2 flex-fill 	008c8c text-center" href="/Clientelogado">
                                <img style="width:75%" src="http://localhost:1002/upload/farmazon.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
    
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form method="post" action="/Pesquisarm">
                                <select class="input-select w-25" style="width:5%" name="idCategoria">
                                    <option value="0" >Todos</option>
                                    <% categoria.reverse().map(c=> {%>
                                        <option value="<%=c.idCategoria%>"><%=c.nomeCategoria%></option>
                                    <%}) %> 
                                </select>
                                <input class="input" name="medicamento" required placeholder="Pesquisa Aqui">
                                <button class="search-btn">Pesquisar</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
    
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <div>
                                <a href="/Carrinho">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Carrinho</span>
                                    <div id="Quantidade" class="qty"></div>
                                
                                </a>
                            </div>
    
                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-user-circle"></i>
                                    <span>Perfil</span>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="img/product01.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
    
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="img/product02.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
                                    </div>
                                    
                                    <div class="cart-btns">
                                        <a href="/perfil">Perfil <i class="fa fa-user"></i></a>
                                        <a href="/logout">Sair<i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                            <!-- Wishlist -->
                            <div>
                            
                            </div>
                            <!-- /Wishlist -->
    
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
   

    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Preço</th>
                                    <th>Quantidade</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                    <% medicamentos.map(m =>{%> 
                                       
                                        <tr>
                                        <td class="cart__product__item">
                                            <img height="80" width="80" src="http://localhost:1002/upload/<%= m.imgProduto %> " alt="">
                                            <div class="cart__product__item__title">
                                                <h6><%= m.nomeProduto %></h6>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td><span class="preco"><%= m.precoProduto %></span>Kz</td>
                                        <td>
                                            <div class="pro-qty">
                                                <input onchange="adicionarQuantidade()" class="q" min="1" max="80" type="number" name="quantidadeCompra">
                                            </div>
                                        </td>
                                        <td><span class="total"></span>Kz</td>
                                        <td class="cart__close"><span onclick="eliminar('<%=m.idProduto%>')" class="icon_close"></span></td>
                                    </tr>
                                        <%  }) %> 
                                   
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="#">Adicionar Mais</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#"><span class="icon_loading"></span> Upload Comprovativo</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                      
                        <form action="#">
                            <input type="text" placeholder="Sua Morada">
                            <button class="primary-btn">Endereço</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Pagamento Via comprovativo</h6>
                        <ul>
                            <li>Nome Entidade: <span>FarmaZon</span></li>
                            <li>Numero IBAN: <span>###</span></li>
                            <li>Total a Pagar: <span id="final"></span>Kz</li>
                        </ul>
                        <a href="#" class="primary-btn">Efectuar Compra</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->

    <!-- Instagram Begin -->
   
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <%- include('partials/footer') %> 
    <%- include('partials/carrinho') %>
    <!-- Js Plugins -->
    <script src="/card/js/jquery-3.3.1.min.js"></script>
    <script src="/card/js/bootstrap.min.js"></script>
    <script src="/card/js/jquery.magnific-popup.min.js"></script>
    <script src="/card/js/jquery-ui.min.js"></script>
    <script src="/card/js/mixitup.min.js"></script>
    <script src="/card/js/jquery.countdown.min.js"></script>
    <script src="/card/js/jquery.slicknav.js"></script>
    <script src="/card/js/owl.carousel.min.js"></script>
    <script src="/card/js/jquery.nicescroll.min.js"></script>
    <script src="/card/js/main.js"></script>
    <script>
        
        // console.log(JSON.parse(localStorage.getItem('c')).map(c=>parseInt(c)));
        const adicionarQuantidade=()=>{
            const quantidade=document.getElementsByClassName('q');
            const preco=document.getElementsByClassName('preco');
            const total=document.getElementsByClassName('total');
            const final=document.getElementById('final'); 
            let resultado=0;
            console.log(quantidade[0].value);
            for (let index = 0; index < quantidade.length; index++) {
                //   console.log(quantidade[index].value); 
                //   console.log(preco[index].innerHTML); 
              const valorTotal=quantidade[index].value*preco[index].innerHTML;
              document.getElementsByClassName('total')[index].innerHTML=valorTotal;
              resultado+=valorTotal;
                
            }
            document.getElementById('final').innerHTML=resultado;
        }
        adicionarQuantidade();

        const eliminar=(id)=>{
            localStorage.setItem('c',JSON.stringify(JSON.parse(localStorage.getItem('c')).map(c=>c).filter(dd=>dd!==id)));
            const f=JSON.parse(localStorage.getItem('c')).map(c=>parseInt(c))
            window.location='/Carrinho/'+f
        }
    </script>
</body>


<!-- Mirrored from technext.github.io/ashion/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jun 2022 14:53:01 GMT -->
</html>