<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>FarmaZone</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="/DashBoard/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="/DashBoard/css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="/DashBoard/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/DashBoard/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="/DashBoard/css/app-dark.css" id="darkTheme" disabled>
  </head>
  <body class="vertical  light  ">
    <div class="wrapper">
        <%- include ('Partials/nav') %>
        <%- include ('Partials/sideBar') %>
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="h3 mb-4 page-title">Detalhes da Categoria</h2>
              <div class="row mt-5 align-items-center">
                <div class="col-md-3 text-center mb-5">
                  <div class="avatar avatar-xl">
                    <img src="http://localhost:1002/upload/<%=categoria.imagemCategoria%> " alt="..." class="avatar-img rounded-circle">
                  </div>
                </div>
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-md-7">
                      <h4 class="mb-1"><%=categoria.nomeCategoria%></h4>
                      <p class="small mb-3"><span class="badge badge-dark"><%=categoria.nomeFarmaceutico %></span> </span></p>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-7">
                      <p class="text-muted"> <%=categoria.desCategoria%> </p>
                      <button onclick="window.location='/editarCategoria/<%=categoria.idCategoria%>' " class="btn btn-primary">Editar Categoria</button>
                    </div>
                    <div class="col">
                      <p class="small mb-0 text-muted"><%=categoria.nomeFarmaceutico %></p>
                      <p class="small mb-0 text-muted"><%=categoria.emailFarmaceutico %></p>
                      <p class="small mb-0 text-muted"><%=categoria.tellFarmaceutico  %></p>
                    </div>
                  </div>
                </div>
              </div>

              <h6 class="mb-3">Produtos da Categoria</h6>
              <table class="table table-borderless table-striped">
                <thead>
                  <tr role="row">
                    <th>ID</th>
                    <th>Nome Cliente</th>
                    <th>telefone</th>
                    <th>Email</th>
                    <th>Quantidade</th>
                    <th>Estado</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">1331</th>
                    <td>2020-12-26 01:32:21</td>
                    <td>$16.9</td>
                    <td>Paypal</td>
                    <td><span class="dot dot-lg bg-warning mr-2"></span>Due</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Remove</a>
                          <a class="dropdown-item" href="#">Assign</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">1156</th>
                    <td>2020-04-21 00:38:38</td>
                    <td>$9.9</td>
                    <td>Paypal</td>
                    <td><span class="dot dot-lg bg-danger mr-2"></span>False</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Remove</a>
                          <a class="dropdown-item" href="#">Assign</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">1038</th>
                    <td>2019-06-25 19:13:36</td>
                    <td>$9.9</td>
                    <td>Credit Card </td>
                    <td><span class="dot dot-lg bg-success mr-2"></span>Paid</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Remove</a>
                          <a class="dropdown-item" href="#">Assign</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">1227</th>
                    <td>2021-01-22 13:28:00</td>
                    <td>$9.9</td>
                    <td>Paypal</td>
                    <td><span class="dot dot-lg bg-success mr-2"></span>Paid</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Remove</a>
                          <a class="dropdown-item" href="#">Assign</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              
            </div> <!-- /.col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->

       
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="/DashBoard/js/jquery.min.js"></script>
    <script src="/DashBoard/js/popper.min.js"></script>
    <script src="/DashBoard/js/moment.min.js"></script>
    <script src="/DashBoard/js/bootstrap.min.js"></script>
    <script src="/DashBoard/js/simplebar.min.js"></script>
    <script src='/DashBoard/js/daterangepicker.js'></script>
    <script src='/DashBoard/js/jquery.stickOnScroll.js'></script>
    <script src="/DashBoard/js/tinycolor-min.js"></script>
    <script src="/DashBoard/js/config.js"></script>
    <script src="/DashBoard/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
                <script src="sweetalert/sweetalert2.all.min.js"></script>
                <% if(errado.length>0) {%>
                    <script>
                      var Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 4000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                          toast.addEventListener('mouseenter', Swal.stopTimer)
                          toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                      })
                      Toast.fire({
                        icon: 'error',
                        title: '<%=errado %>'
                      })
                    </script>
                  
                    <% }else if(certo.length>0) {%>
                      <script>
                  
                        const Toast = Swal.mixin({
                          toast: true,
                          position: 'top-end',
                          showConfirmButton: false,
                          timer: 3000,
                          timerProgressBar: true,
                          didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                          }
                        })
                  
                        Toast.fire({
                          icon: 'success',
                          title: '<%=certo %>'
                        })
                  
                      </script>
                      <% }%>
  </body>
</html>