<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>FarmaZone</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="/DashBoard/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="/DashBoard/css/feather.css">
    <link rel="stylesheet" href="/DashBoard/css/select2.css">
    <link rel="stylesheet" href="/DashBoard/css/dropzone.css">
    <link rel="stylesheet" href="/DashBoard/css/uppy.min.css">
    <link rel="stylesheet" href="/DashBoard/css/jquery.steps.css">
    <link rel="stylesheet" href="/DashBoard/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/DashBoard/css/quill.snow.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="/DashBoard/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/DashBoard/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="/DashBoard/css/app-dark.css" id="darkTheme" disabled>
  </head>
  <body class="vertical  light  ">
    <div class="wrapper">
       <%- include ('Partials/nav') %>
        <%- include ('Partials/sideBar') %>
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
 
              <form method="post" action="/editarProduto_" enctype="multipart/form-data">
                <hr class="my-4">
                <h5 class="mb-2 mt-4">Editar Dados do Produto</h5>
                <p class="mb-4">Editar dados Produto <%= medicamentos.nomeProduto %>  em Stock</p>
                <div class="form-group">
                    <label for="formFileMultiple" class="form-label">Imagem Medicamento</label>
                    <div class="custom-file">
                      <input accept="image/png, image/jpeg" type="file" name="image" multiple class="custom-file-input form-control" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstname">Nome Medicamento</label>
                    <input name="nomeProduto" value="<%= medicamentos.nomeProduto%> "  type="text" id="firstname" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastname">Quantidade</label>
                    <input name="stockProduto" readonly value="<%= medicamentos.stockProduto%> "  type="text" id="lastname" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress5">Descrição</label>
                  <input name="descProduto" value="<%= medicamentos.descProduto%> "  type="text" class="form-control" id="inputAddress5">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="custom-zip">Preço</label>
                    <input name="precoProduto" value="<%= medicamentos.precoProduto%> " min="200" max="1000000" type="text" class="form-control" id="inputAddress5">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState5">Categoria</label>
                    <select class="form-control" name="idCategoria" id="">
                        <option value="<%=medicamentos.idCategoria%>"><%=medicamentos.nomeCategoria %> </option>
                        <% categoria.map(c=>{%> 
                            <option value="<%=c.idCategoria%>"><%=c.nomeCategoria %> </option>
                        <% }) %> 
                        
                    </select>
                    <input type="hidden" name="idProduto" value="<%=medicamentos.idProduto %> ">
                  </div>
                  <div class="form-group col-md-4">
                    <% if(medicamentos.estadoProduto==1){%>
                      
                            <label for="custom-zip">Estado</label>
                            <input value="Disponivel" readonly  type="text"  class="form-control" id="inputAddress5">
                   
                    
                    <%}else{%>
                   
                            <label for="custom-zip">Estado</label>
                            <input value=" Não Disponivel" readonly  type="text"  class="form-control" id="inputAddress5">
                     
                       
                        
                    <% } %>
                    
                  </div>
                </div>
                <hr class="my-4">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="custom-control custom-switch">
                      <input name="estadoProduto" type="checkbox" class="custom-control-input" id="customPass" checked>
                      <label class="custom-control-label" for="customPass">Activar ou desactivar o estado do Produto</label>
                    </div>
                  </div>
                  <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                  </div>
                </div>
              </form>
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="list-group list-group-flush my-n3">
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-box fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Package has uploaded successfull</strong></small>
                        <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                        <small class="badge badge-pill badge-light text-muted">1m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-download fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Widgets are updated successfull</strong></small>
                        <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                        <small class="badge badge-pill badge-light text-muted">2m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-inbox fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Notifications have been sent</strong></small>
                        <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                        <small class="badge badge-pill badge-light text-muted">30m ago</small>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-link fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Link was attached to menu</strong></small>
                        <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                        <small class="badge badge-pill badge-light text-muted">1h ago</small>
                      </div>
                    </div>
                  </div> <!-- / .row -->
                </div> <!-- / .list-group -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body px-5">
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-success justify-content-center">
                      <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Control area</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Activity</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Droplet</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Upload</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-users fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Users</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Settings</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="/DashBoard/js/jquery.min.js"></script>
    <script src="/DashBoard/js/popper.min.js"></script>
    <script src="/DashBoard/js/moment.min.js"></script>
    <script src="/DashBoard/js/bootstrap.min.js"></script>
    <script src="/DashBoard/js/simplebar.min.js"></script>
    <script src='/DashBoard/js/daterangepicker.js'></script>
    <script src='/DashBoard/js/jquery.stickOnScroll.js'></script>
    <script src="/DashBoard/js/tinycolor-min.js"></script>
    <script src="/DashBoard/js/config.js"></script>
    <script src='/DashBoard/js/jquery.mask.min.js'></script>
    <script src='/DashBoard/js/select2.min.js'></script>
    <script src='/DashBoard/js/jquery.steps.min.js'></script>
    <script src='/DashBoard/js/jquery.validate.min.js'></script>
    <script src='/DashBoard/js/jquery.timepicker.js'></script>
    <script src='/DashBoard/js/dropzone.min.js'></script>
    <script src='/DashBoard/js/uppy.min.js'></script>
    <script src='/DashBoard/js/quill.min.js'></script>
    <script>
      $('.select2').select2(
      {
        theme: 'bootstrap4',
      });
      $('.select2-multi').select2(
      {
        multiple: true,
        theme: 'bootstrap4',
      });
      $('.drgpicker').daterangepicker(
      {
        singleDatePicker: true,
        timePicker: false,
        showDropdowns: true,
        locale:
        {
          format: 'MM/DD/YYYY'
        }
      });
      $('.time-input').timepicker(
      {
        'scrollDefault': 'now',
        'zindex': '9999' /* fix modal open */
      });
      /** date range picker */
      if ($('.datetimes').length)
      {
        $('.datetimes').daterangepicker(
        {
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale:
          {
            format: 'M/DD hh:mm A'
          }
        });
      }
      var start = moment().subtract(29, 'days');
      var end = moment();

      function cb(start, end)
      {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
      $('#reportrange').daterangepicker(
      {
        startDate: start,
        endDate: end,
        ranges:
        {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, cb);
      cb(start, end);
      $('.input-placeholder').mask("00/00/0000",
      {
        placeholder: "__/__/____"
      });
      $('.input-zip').mask('00000-000',
      {
        placeholder: "____-___"
      });
      $('.input-money').mask("#.##0,00",
      {
        reverse: true
      });
      $('.input-phoneus').mask('(000) 000-0000');
      $('.input-mixed').mask('AAA 000-S0S');
      $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
      {
        translation:
        {
          'Z':
          {
            pattern: /[0-9]/,
            optional: true
          }
        },
        placeholder: "___.___.___.___"
      });
      // editor
      var editor = document.getElementById('editor');
      if (editor)
      {
        var toolbarOptions = [
          [
          {
            'font': []
          }],
          [
          {
            'header': [1, 2, 3, 4, 5, 6, false]
          }],
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [
          {
            'header': 1
          },
          {
            'header': 2
          }],
          [
          {
            'list': 'ordered'
          },
          {
            'list': 'bullet'
          }],
          [
          {
            'script': 'sub'
          },
          {
            'script': 'super'
          }],
          [
          {
            'indent': '-1'
          },
          {
            'indent': '+1'
          }], // outdent/indent
          [
          {
            'direction': 'rtl'
          }], // text direction
          [
          {
            'color': []
          },
          {
            'background': []
          }], // dropdown with defaults from theme
          [
          {
            'align': []
          }],
          ['clean'] // remove formatting button
        ];
        var quill = new Quill(editor,
        {
          modules:
          {
            toolbar: toolbarOptions
          },
          theme: 'snow'
        });
      }
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function()
      {
        'use strict';
        window.addEventListener('load', function()
        {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form)
          {
            form.addEventListener('submit', function(event)
            {
              if (form.checkValidity() === false)
              {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script>
      var uptarg = document.getElementById('drag-drop-area');
      if (uptarg)
      {
        var uppy = Uppy.Core().use(Uppy./Dashboard,
        {
          inline: true,
          target: uptarg,
          proudlyDisplayPoweredByUppy: false,
          theme: 'dark',
          width: 770,
          height: 210,
          plugins: ['Webcam']
        }).use(Uppy.Tus,
        {
          endpoint: 'https://master.tus.io/files/'
        });
        uppy.on('complete', (result) =>
        {
          console.log('Upload complete! We’ve uploaded these files:', result.successful)
        });
      }
    </script>
    <script src="/DashBoard/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
    <script src="sweetalert/sweetalert2.all.min.js"></script>
    <% if(errado.length>0) {%>
        <script>
          var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 4000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })
          Toast.fire({
            icon: 'error',
            title: '<%=errado %>'
          })
        </script>
      
        <% }else if(certo.length>0) {%>
          <script>
      
            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
              }
            })
      
            Toast.fire({
              icon: 'success',
              title: '<%=certo %>'
            })
      
          </script>
          <% }%>
  </body>
</html>