<!DOCTYPE html>
<html lang="en">
	
<!-- Mirrored from technext.github.io/electro/?fbclid=IwAR04AVhzDNlzbB3QOQAXwj9ID6XQe3NOsUHaIN5x4NhgS1s9eGR2IKXwPmo by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jun 2022 14:47:58 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
       <%- include('partials/head') %> 
	<body>
		<!-- HEADER -->


		<%- include('partials/header') %> 

	
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<%- include('partials/navbar') %> 
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->


					<% categoria.slice(0, 3).map(c=> {%>
						<div class="col-md-4 col-xs-6">
							<div class="shop">
								<div class="shop-img">
									<img src="http://localhost:1002/upload/<%=c.imagemCategoria %>" alt="">
								</div>
								<div class="shop-body">
									<h3><%=c.nomeCategoria %> </h3>
									<a href="/categoriaprodutos/<%=c.idCategoria %>" class="cta-btn">Visualizar <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
					<%}) %> 
					<!-- /shop -->


				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Medicamentos em Estoque</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<% medicamentos.slice(0,3).map(c=>{ %> 
										<li><a data-toggle="tab" href="/medicamento_/:idProduto"><%=c.nomeProduto %> </a></li>
									<%}) %> 
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">

										<!-- product -->
										<% medicamentos.map(medicamentos =>{ %>
                                              <div class="product">
											<div class="product-img">
												<img src="http://localhost:1002/upload/<%= medicamentos.imgProduto %>" alt="">
												<div class="product-label">
													<span class="sale"><%= medicamentos.stockProduto%></span>
													<span class="new">Stock</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category"><%= medicamentos.nomeCategoria%></p>
												<h3 class="product-name"><a href="#"><%= medicamentos.nomeProduto%></a></h3>
												<h4 class="product-price"><%= medicamentos.precoProduto%> Kz.</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<% if(medicamentos.stockProduto > 0) { %> 
                                            <div class="add-to-cart">
												<button onclick="comprar('<%= medicamentos.idProduto%>')" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho</button>
											</div>
											<% } else{ %> 
												<div class="add-to-cart">
												<button disabled class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho</button>
											</div>
											<% } %> 
											
										</div>
										<% 	}) %> 
										
										<!-- /product -->


									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->

		<div id="hot-deal" class="section container-fluid">
			<!-- container -->
			<div class="container-fluid">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>
											<%=medicamentos.length %> 
										</h3>
										<span>Medicamentos</span>
									</div>
								</li>
								<li>
									<div>
										<h3>
											<%=categoria.length %> 
										</h3>
										<span>Categorias</span>
									</div>
								</li>
								<li>
									<div>
										<h3><%=comprasEfectuada.length %></h3>
										<span>Compras Efectuadas</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">ENCONTRE TODOS TIPOS MEDICAMENTO</h2>
							<p>Pesquise e Encontre</p>
							<a class="primary-btn cta-btn" href="#">Ver Produtos</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->

		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Outros Produtos</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<% medicamentos.reverse().slice(0,3).map(c=>{ %> 
										<li><a data-toggle="tab" href="/medicamento_/:idProduto"><%=c.nomeProduto %> </a></li>
									<%}) %> 
								</ul>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">

										<% medicamentos.map(c=>{%>
																					<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="http://localhost:1002/upload/<%=c.imgProduto %>" alt="">
												<div class="product-label">
													<span class="sale"><%=c.stockProduto %> Unidades</span>
													<span class="new">Novo</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category"><%=c.nomeCategoria %> </p>
												<h3 class="product-name"><a href="#"><%=c.nomeProduto %> </a></h3>
												<h4 class="product-price"><%=c.precoProduto %>Kwanzas</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button onclick="comprar('<%= medicamentos.idProduto%>')" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Adicionar ao Carrinho</button>
											</div>
										</div>
										<!-- /product -->
										<%}) %> 
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>

		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Produtos em Destaque</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>
								<% medicamentos3.map(categoria=>{%> 
	                               <div class="product-widget">
									<div class="product-img">
										<img src="http://localhost:1002/upload/<%= categoria.imgProduto %>" alt="">
									</div>
									<div class="product-body">
										<p class="product-category"><%= categoria.nomeCategoria %> </p>
										<h3 class="product-name"><a href="#"><%= categoria.nomeProduto %>  </a></h3>
										<h4 class="product-price"><%= categoria.precoProduto %> Kz</h4>
									</div>
								</div>
								<%}) %> 
							
								<!-- /product widget -->

							</div>
							<div>
								<% medicamentos3.reverse().map(categoria=>{%> 
	                               <div class="product-widget">
									<div class="product-img">
										<img src="http://localhost:1002/upload/<%= categoria.imgProduto %>" alt="">
									</div>
									<div class="product-body">
										<p class="product-category"><%= categoria.nomeCategoria %> </p>
										<h3 class="product-name"><a href="#"><%= categoria.nomeProduto %>  </a></h3>
										<h4 class="product-price"><%= categoria.precoProduto %> Kz</h4>
									</div>
								</div>
								<%}) %> 
							
								<!-- /product widget -->

							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Produtos em Destaque</h4>
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div>
								<% medicamentos3desc.map(categoria=>{%> 
	                               <div class="product-widget">
									<div class="product-img">
										<img src="http://localhost:1002/upload/<%= categoria.imgProduto %>" alt="">
									</div>
									<div class="product-body">
										<p class="product-category"><%= categoria.nomeCategoria %> </p>
										<h3 class="product-name"><a href="#"><%= categoria.nomeProduto %>  </a></h3>
										<h4 class="product-price"><%= categoria.precoProduto %> Kz</h4>
									</div>
								</div>
								<%}) %> 
							
								<!-- /product widget -->

							</div>
							<div>
								<% medicamentos3desc.reverse().map(categoria=>{%> 
	                               <div class="product-widget">
									<div class="product-img">
										<img src="http://localhost:1002/upload/<%= categoria.imgProduto %>" alt="">
									</div>
									<div class="product-body">
										<p class="product-category"><%= categoria.nomeCategoria %> </p>
										<h3 class="product-name"><a href="#"><%= categoria.nomeProduto %>  </a></h3>
										<h4 class="product-price"><%= categoria.precoProduto %> Kz</h4>
									</div>
								</div>
								<%}) %> 
							
								<!-- /product widget -->

							</div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Produtos em Destaque</h4>
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div>
								<% medicamentos3.reverse().map(categoria=>{%> 
	                               <div class="product-widget">
									<div class="product-img">
										<img src="http://localhost:1002/upload/<%= categoria.imgProduto %>" alt="">
									</div>
									<div class="product-body">
										<p class="product-category"><%= categoria.nomeCategoria %> </p>
										<h3 class="product-name"><a href="#"><%= categoria.nomeProduto %>  </a></h3>
										<h4 class="product-price"><%= categoria.precoProduto %> Kz</h4>
									</div>
								</div>
								<%}) %> 
							
								<!-- /product widget -->

							</div>
							<div>
								<% medicamentos3.map(categoria=>{%> 
	                               <div class="product-widget">
									<div class="product-img">
										<img src="http://localhost:1002/upload/<%= categoria.imgProduto %>" alt="">
									</div>
									<div class="product-body">
										<p class="product-category"><%= categoria.nomeCategoria %> </p>
										<h3 class="product-name"><a href="#"><%= categoria.nomeProduto %>  </a></h3>
										<h4 class="product-price"><%= categoria.precoProduto %> Kz</h4>
									</div>
								</div>
								<%}) %> 
							
								<!-- /product widget -->

							</div>
						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->

		<%- include('partials/footer') %>
		<%- include('partials/carrinho') %>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
	
	</body>

<!-- Mirrored from technext.github.io/electro/?fbclid=IwAR04AVhzDNlzbB3QOQAXwj9ID6XQe3NOsUHaIN5x4NhgS1s9eGR2IKXwPmo by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jun 2022 14:48:04 GMT -->
</html>
